body {
	font-size: 20px;
	text-align: center;
	font-family: "Abel", Georgia, serif ;
	margin: 0px;
	word-wrap: break-word;
	font-family: 'Playfair Display', serif;
    background-color: #e8fafc;
    
}
h1, h2, h3 {
	font-size: 25px;
	overflow: auto;
	font-family: "Josefin Sans", sans-serif;
}
a{
	text-decoration : none; 
	color : #000;
}
a#navsidebar{
	display: inline-block;
    margin:10px 0 0 2%;
    flex-grow: 1;
    width: 100%;
}
div {
	padding: 5px;
}

img{
	margin: 15px;
}
#logo{
	top: 100px;
    position: relative;
    z-index: 100;
	margin-top: -120px;
}

div.textbox{
	margin: 15px;
}

input{
	width: 20em;
}
#ruch{
	width: 300px;
	height: 450px;
}
.navbar{
	font-family: "Josefin Sans", sans-serif;
	display: flex;
	text-transform: uppercase;
	flex-flow: row wrap; 
	padding: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
	margin-bottom: 10px;
    background-color: #4b9cb3;
	/*@media (min-width: 768px) { width: 750px; }
  	@media (min-width: 992px) { width: 970px; }
  	@media (min-width: 1200px) { width: 1140px; }*/
}

.logo{
	margin: 5px 100px 10px 20px;
    font-size: 40px;
}


.nav-list{
	justify-content: space-around;
}
a.navitem{
	margin: 30px;
    padding: 45px;
}
a:hover{
	/*do something*/
	color: grey;
}

.main-page{    
	display: flex;
  	min-height: 100vh;
  	flex-direction: row;
}
.main-body{
	flex: 1;
	order: 0;
}
.left-sidebar{
	flex: 1;
	flex-direction: column;
	flex-grow: 1;
	order:-1;
	max-width: 10em;
	background-color: #f1f1f1;
	border-right: 1px solid #e2e2e2

}
div.left-sidebar > a{
	justify-content: space-around;
}

div.right-sidebar > p{
	color: #adadad;
}
p > span{
	color: black;
}
.main-content {
    flex: 1;
 }
img#pauli{
	max-width: 450px;
}
header .article-header{
 	border-bottom: 5px solid;
 	font-weight: bold;
}

 @media (max-width: 765px){
 	.navbar{
 		flex-direction: column;
 		justify-content: center;
 		display: none;
 	}
 	.main-page{
 		flex:1;
 		flex-direction: column;
 		background-color: #f9f9f9;
 	}
 	.main-body{
 		flex: 1;
 	}
}
#search{
    width: 170px;
    padding: 8px 1px;
    margin: 12px;
	background-color: powderblue ;
	
}
td {
    padding: 4px; 
    border: 1px #CCC solid; 
    width: 100px;
}
#select {
	width: 175px;
    padding: 8px 0px;
    margin: 11px;
	background-color: powderblue;
}

/*Masonry CSS*/
.picture {
  border-radius: 20px;
  width: 20%;
  
  display: inline-block;

    
}

.picture:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,.3), 0 5px 5px rgba(0,0,0, .3);
}

.container{
    padding: .5%;
}

.container:hover .picture:not(:hover) { 
    opacity: .8;   
}

.focus{
	width: 25%;
}

/* End Masonry */
